.item {
    &.list {
        .type-0 td {
            background-color: #ececec;
        }
        .type-1 td {
            background-color: #d8ecec;
        }
        .type-2 td {
            background-color: #e1ecd8;
        }
    }
}