AddDefaultCharset utf-8

Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on
# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

php_value upload_max_filesize 64M
php_value post_max_size 64M

# otherwise forward it to index.php
RewriteRule . index.php
